

.navbar {
    background-color: #E6F4F9;
}

.cartBtn {
    margin-left: 10px;
}

.checkoutBtn {
    margin-right: 5px;
}

.companyLogo {
    height: 75px;
    width: 75px;
    margin: 0;
    padding: 0;
}